.card {
    margin: 10px;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}

.card__container > img {
    max-width: 100px;
}

.card__infoBottom > button {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 10px;
}

.card__repoButton {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 10px;
}
