.main__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    padding: 30px;   
    margin-left: auto;
    margin-right: auto;
}

.main > h2 {
    padding-left: 20px;
    padding-top: 20px;
}